@media screen and (max-width: 600px) {
  .ssf {
    flex-direction: column;
  }

  .select:first-child {
    border-left: none;
  }

  .search-box {
    margin: 0.5rem;
    align-self: flex-start;
  }

  .selectors-box {
    border-top: 1px solid var(--lines-color);
    width: 100%;
  }

  .select {
    width: 100%;
  }
}

@media screen and (max-width: 391px) {
  .mood-btn span {
    display: none;
  }
}
