h2 {
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--brand-secondary);
}

h3 {
  font-weight: 700;
  font-size: 1rem;
  color: var(--body-text);
}

p {
  font-weight: 400;
  font-size: 1rem;
}
