.nav {
  padding: 16px 48px;
}

.mode-btn,
.favourites-btn {
  border: 1px solid var(--lines-color);
  border-radius: 4.8px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.8px;
  color: var(--body-text);
}


.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#heart-icon-btn,
#mode-icon-btn {
  width: 13px;
  height: 13px;
}

#heart-icon-btn {
  color: var(--body-text);
}

#heart-icon-btn.clicked {
  color: #dc143c;
}

#mode-icon-btn {
  color: var(--body-text);
}

#mode-icon-btn.clicked {
  color: #c2d055;
}
