@media screen and (max-width: 600px) {
  .search-sort-filter-box {
    flex-direction: column;
  }

  .select:first-child {
    border-left: none;
  }

  .search-box {
    margin: 8px;
    align-self: flex-start;
  }

  .selectors-box {
    border-top: 1px solid var(--lines-color);
    width: 100%;
  }

  .select {
    width: 100%;
  }

  .welcome-box {
    transform: translateY(-12.8px);
  }
}

@media screen and (max-width: 450px) {
  .nav {
    padding: 16px;
  }

  .mode-btn span,
  .favourites-btn span {
    display: none;
  }

  .two-triangles-box {
    position: relative;
    max-height: 100px;
  }

  .triangle1,
  .triangle2 {
    min-height: 40px;
  }

  .triangle1 {
    top: -40px;
  }

  .welcome-box {
    transform: translateY(-28.8px);
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }

  h3 {
    font-size: 0.8rem;
  }

  .select {
    min-width: auto;
  }
}

@media screen and (max-width: 800px) {
  .details-div,
  .sub-topics-div {
    max-width: 435px;
  }
}
@media screen and (max-width: 700px) {
  .details-div,
  .sub-topics-div {
    max-width: 335px;
  }
}
@media screen and (max-width: 620px) {
  .details-div,
  .sub-topics-div {
    max-width: auto;
  }

  .sub-topics-container {
    flex-direction: column;
  }

  .topic {
    position: static;
  }
}

@media screen and (max-width: 580px) {
  .welcome-box {
    transform: translateY(-6.4px);
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 434px) {
  .welcome-box {
    transform: translateY(-1.44px);
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 370px) {
  .welcome-box {
    transform: translateY(-1.44px);
  }

  h2 {
    font-size: 1.1rem;
  }

  p {
    font-size: 0.8rem;
  }
}

@media screen and (max-width: 354px) {
  .welcome-box {
    transform: translateY(-0.8px);
  }

  h2 {
    font-size: 0.9rem;
  }

  p {
    font-size: 0.7rem;
  }
}
