main {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.relative-container {
  position: relative;
  min-width: 250px;
}

.topic {
  position: absolute;
  box-sizing: border-box;
  overflow: auto;
  /* float: left; */
  text-align: left;
  cursor: pointer;
  border: 1px solid white;
  background-color: white;
  box-shadow: 0 14px 28px var(--lines-color) (0, 0, 0, 0.08),
    0 10px 10px var(--lines-color) (0, 0, 0, 0.05);
}

.topic-img {
  width: 100%;
  height: 8rem;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

.topic-img img {
  width: 100%;
  height: 100%;
}

ul {
  list-style: none;
  display: flex;
  padding-top: 0;
  justify-content: flex-start;
  align-items: center;
}

.star-filled,
.star-outline {
  color: #ff9f43;
  background-color: #333333;
}

.label {
  font-size: 0.6rem;
}

.nav-h3 {
  color: var(--brand-primary);
}

.nums-topic-found-h2 {
  color: var(--body-text);
}

.main-div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: var(--bg_body);
}

.sub-topics-container {
  background-color: var(--bg_body);
}

.details,
.sub-topics-container {
  display: flex;
  justify-content: center;
  padding-block: 24px;
  gap: 2rem;
}

.sub-topics-container .relative-container {
  background-color: transparent;
}

.details {
  width: 100%;
  background-color: #333333;
  gap: 1rem;
  position: relative;
}

h4 {
  color: var(--brand-secondary);
  background-color: #333333;
}

.details-ul {
  background-color: #333333;
}
.details-ul li {
  background-color: #333333;
}

.details-h3,
.details-p {
  color: white;
  background-color: #333333;
}

.details-div,
.sub-topics-div {
  max-width: 535px;
}

.details-div {
  background-color: #333333;
  max-width: 535px;
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.p-h5-a-div {
  display: flex;
  align-items: center;
  justify-content: left;
  margin-bottom: 0.625rem;
  background-color: white;
  color: black;
}

.p-h5-a-div h5 {
  background-color: white;
  color: black;
}

.p-h5-a-div a {
  background-color: white;
}

.favourite-div {
  border: 1px solid #dddddd;
  padding: 1rem;
  align-items: center;
  background-color: white;
}

.favourite-information-div {
  background-color: white;
  padding: 1rem;
}

.favourite-div p {
  background-color: white;
  color: black;
}

.add-to-favourite-div {
  background-color: var(--brand-secondary);
  justify-content: center;
  align-items: center;
  display: flex;
}

#add-to-favourite-btn {
  color: white;
  background-color: var(--brand-secondary);
  padding: 0.5rem;
}

.add-span,
.fav-icon {
  background-color: var(--brand-secondary);
}

.favourite-div p {
  margin-bottom: 0.625rem;
}

.add-to-favourite-bottom {
  margin-top: 0.625rem;
  text-align: center;
  color: gray;
}

.sub-topics-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid var(--lines-color);
}

.sub-topic {
  padding: 15px;
  width: 100%;
  border-bottom: 1px solid var(--lines-color);
  border-radius: 8px;
}

.sub-topic span {
  color: var(--body-text);
}

.sub-topic-last-div {
  padding: 15px;
  width: 100%;
}

.sub-topic-last-div span {
  color: var(--body-text);
}

.check-icon {
  color: var(--brand-secondary);
}

.sub-topics-h4 {
  color: var(--body-text);
  background-color: var(--bg_default);
}
