.nav {
  padding: 16px 48px;
}

.mode-btn,
.favourites-btn {
  border: 1px solid var(--lines-color);
  border-radius: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 4.8px;
  color: var(--body-text);
  cursor: pointer;
}

.btn {
  border: none;
  background: none;
  cursor: pointer;
}

.header {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
